main {
  background-color: #171717;
  overflow-x: hidden;
}

h1 {
  color: #adadad;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Fira Code";
}

p {
  color: #adadad;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  font-family: "Fira Code";
}

a {
  font-family: "Fira Code";
}

span{
  font-family: "Fira Code";
}

li{
  padding: 0;
  list-style: none;
  font-family: "Fira Code";
  color: #adadad;
  font-size: 18px;
}

.container {
  width: 100%;
}
