main {
  background-color: #171717;
  font-family: "Fira Code";
  overflow-x: hidden;
}

h1 {
  color: #adadad;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}

p {
  color: #adadad;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

.container {
  width: 100%;
}
