.container-modal {
  .dialog{
    overflow-x: hidden ;
  }
  .explorar {
    color: #adadad;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 25px !important;
    text-transform: none;
    letter-spacing: normal;
  }

  .explorar:focus::before {
    opacity: 0 !important;
  }
}

.explore-modal {
  padding: 20px;

  .information-modal {
    h1 {
      font-size: 30px;
    }

    .divider {
      color: #adadad;
    }
  }

  .container-contact{
    .contact{
      color: #FFD066;
      text-decoration: none;
    }
  }
}
