.container-header {
  width: 100%;
  max-width: 100%;
  padding: 0;
  .header {
    border-radius: 0;
  }
  .menu-header {
    background-color: #33334a;
    .v-navigation-drawer__content{
        width: 250px;
    }

    .container-avatar__rigo{
        text-align: center;
        margin-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        border-bottom: 1px solid #78787870;
        .avatar-rigo {
          img {
            object-fit: cover;
            background-color: #2E344E;
            padding: 8px;
          }
        }
    }
  }
}
