.container-header {
  padding: 0px;
  .v-toolbar__content {
    height: 70px !important;
  }
  .header {
    height: 65px !important;

    .flag {
      border-radius: 59px;
      margin-right: 16px;
    }

    .explorar {
      color: #adadad;
      text-decoration-line: underline;
      font-weight: 400;
      font-size: 25px;
    }
  }
}
