.container-header {
  padding: 0px;
  .v-toolbar__content {
    height: 70px !important;
  }
  .header {
    height: 65px !important;
    .container-options{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
    .flag {
      border-radius: 59px;
      margin-right: 16px;
    }
  }
}
