.container-info {
  padding: 23px;
  h1 {
    font-weight: 400;
  }
  .date {
    color: #ffd066;
    margin-top: 30px;
    font-weight: 600;
  }

  .icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  .list-information__container {
    text-align: end;
    .list-information {
      b {
        font-weight: 600;
      }
    }
  }
}



.clock {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #333;
  margin: 0 auto;
  border: 2px solid #adadad;
  position: relative;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.3), inset 0 5px 0 0 rgba(0, 0, 0, 0.3),
    inset 0 0 0 34px #171717;
}

.clock:after {
  content: "";
  width: 2px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: inset 0px 2px 0 0 #adadad, inset 0px 30px 0 0 #adadad;
  animation: clock 7s linear infinite;
}

.clock:before {
  content: "";
  width: 2px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: inset 0px 2px 0 0 #adadad, inset 0px 25px 0 0 #adadad;
  animation: clockb 25s linear infinite;
}

@keyframes clock {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes clockb {
  100% {
    transform: rotate(360deg);
  }
}
