.container-info {
  padding: 23px;
  h1 {
    font-weight: 400;
  }
  .date {
    color: #ffd066;
    margin-top: 30px;
    font-weight: 600;
  }

  .icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  .list-information__container {
    text-align: end;
    .list-information {
      b {
        font-weight: 600;
      }
    }
  }
}