.container-home {
  width: 100%;
  max-width: 100%;
  padding: 20px;

  .information{
    .name{
      font-size: 25px;
    }
    .description{
      .span-yellow{
        color: #FFD066;
      }
      .span-pink{
        color: #FB94FF;
      }
    }
  }
}
